include LICENSE
include README.rst
#include base/views.py
#recursive-include openvpnmon *
recursive-include openvpn_base * 
recursive-include openvpn_mon * 
recursive-include openvpn_base/static *
recursive-include openvpn_base/templates *
recursive-include templates *
#recursive-include extras *
